# Токен бота от @BotFather
TG_TOKEN=

# Так как с хостинга Telegram недоступен, то здесь вводится адрес посредника, через которого будет идти запрос
# Через свой ПК - оставить пустым
TG_API_URL=

# База данных MySQL (DB_HOST на своём компьютере - IP сервера хостинга)
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASSWORD=

# Webhook для развертывания на ВХ сервере
# WEBHOOK_URL - адрес, на который Telegram присылает обновления
# WEBHOOK_SECRET - случайная строка: python -c "import secrets; print(secrets.token_urlsafe(32))"
WEBHOOK_URL=
WEBHOOK_SECRET=
